.p-link, .p-link > a{
    text-align: right;
    padding: 30px;
}

.p-link > a{
    text-align: right;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    color:blue;
}

.p-link > a:hover{
    text-decoration: underline;
}

img{
  display: block;
  margin:5% auto 3% auto;
  width: 8%;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  /* Add some margins for each label */
  .form-inline label {
    margin:1% auto 0% 3%;
  }
  
  /* Style the input fields */
  .form-inline input {
    vertical-align: middle;
    margin: 1% 30% 0% auto;
    width: 40%;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  /* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
  @media (max-width: 800px) {
    .form-inline input {
      margin: 2% 0;
      width: 60%;
    }
    .form-inline label {
      margin:1% auto 0% 0%;
    }
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }
  #form{
    text-align: center;
  }
  #form input[type="submit"]{
    background-color: rgb(245, 246, 246);
    color: black;
    margin: 30px 5px 0px 0px;
    font-size: 1vw;
}